<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <style media="screen">
            
        </style>
    </head>
    <body>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <a href="/login" class="back-button"><i class="fas fa-arrow-left"></i></a>

        <form action="{{ url_for('register') }}" method="POST" class="formregister">
            <h3>Register</h3>

            <label for="username">Name</label>
            <input type="text" placeholder="Name" id="Name" name="name" required>

            <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password" required>

            <button type="submit" class="btn btn-outline-secondary buttonreg">Register</button>
            <div class="register-link">
                <p>Have an account? <a href="{{ url_for('login') }}">Login</a></p>
            </div>
        </form>
    </body>
    </html>